#topbar
{
    background-color:#33393A;
    height: 250px;
    width: 200%;
    
  
    
    
}

#pfp-img
{
    width: 600px;
    float: left;
    margin-left: -4%;
    margin-top: -13%;
}

#top-blur-img

{
    width: 100%;
    position: relative;
    top: -1150%;
}

#body-blur
{
    position: relative;
    top: -1100%;
    width: 100%;
}

#container
{
    height: 300px;
    background-color: #239E89;
    position: relative;
    top: 94%;
    
}


#back

{
    position: relative;
    top: 120%;
    left: -18%;
    width: 110%;
    filter: blur(20px);

}


body
{
    padding: 0;
    margin: 0;
    background-color: #05252a;
    /* overflow: hidden;*/
    overflow-x: hidden;

}


  