#topbar
{
    background-color:#33393A;
    height: 250px;
    width: 200%;
    
  
    
    
}

#pfp-img
{
    width: 600px;
    float: left;
    margin-left: -4%;
    margin-top: -13%;
}

#blur-img
{
    width: 100%;
    position: relative;
    top: -1150%;
}

#container
{
    height: 500px;
    background-color: #239E89;
    position: relative;
    top: 94%;
    
}


#back

{
    position: relative;
    top: 100%;
    left: -30%;
    width: 150%;
    filter: blur(20px);

}


body
{
    padding: 0;
    margin: 0;
    background-color: #666666;
     overflow: hidden;

}