#topbar
{
    background-color:#33393A;
    height: 250px;
    width: 200%;
    
  
    
    
}

#pfp-img
{
    width: 600px;
    float: left;
    margin-left: -4%;
    margin-top: -13%;
}

#backntop
{
    position: relative;
    width: 100%;
    left: -12%;
    top: -400%;
}

#jungle
{   
    position: relative;
    top: 1300%;
    width: 100%;

}

#jungle2
{
    width: 100%;
    position: relative;
    top: -468%;
}


#jungle3
{
    width: 100%;
    position: relative;
    top: -470%;
}


#jungle4
{
    width: 100%;
    position: relative;
    top: -473%;
}


#container
{
    height: 300px;
    background-color: #239E89;
    position: relative;
    top: 94%;
    
}




body
{
    padding: 0;
    margin: 0;
    background-color: #05252a;
    /* overflow: hidden;*/
    overflow-x: hidden;

}


  