#topbar
{
    background-color:#33393A;
    height: 250px;
    width: 200%;
    
  
    
    
}

img
{
    margin: 0;
    padding: 0;
}

#pfp-img
{
    width: 600px;
    float: left;
    margin-left: -4%;
    margin-top: -13%;
}

#backntop
{
    position: relative;
    width: 100%;
    left: -12%;
    top: -400%;
}

#jungle
{   
    position: relative;
    top: 1300%;
    width: 100%;

}

#jungle2
{
    width: 100%;
    position: relative;
    top: -468%;
}


#jungle3
{
    width: 100%;
    position: relative;
    top: -470%;
}


#jungle4
{
    width: 100%;
    position: relative;
    top: -473%;
}

#jungle5
{
    width: 100%;
    position: relative;
    top: -476%;
}



#container
{
    height: 300px;
    background-color: #239E89;
    position: relative;
    top: 94%;
}
ul
{

    top: 250%;
    position: absolute;
    width: 120%;
}


button
{
    position: relative;
    width: 700px;
    height: 450px;
    background-position: center;
    border-radius: 50px 50px;
    
}

#twitch-btn
{
    margin-left: 4%;
    background-image: url("twitch.png");

  
}

#youtube-btn
{
    margin-top: 20%;
    left: 55%;
    background-image: url("youtube.png");

}

#discord-btn
{
    margin-top: 20%;

    margin-left: 4%;
    background-image: url("discord.png");

  
}

#reddit-btn
{
    margin-top: 20%;
    left: 55%;
    background-image: url("reddit.png");

}

#instagram-btn
{
    margin-top: 20%;

    margin-left: 4%;
    background-image: url("instagram.png");
}

#facebook-btn
{
    margin-top: 20%;
    left: 55%;
    background-image: url("facebook.png");

}

button:active 
{
    filter: blur(5px);
    border-radius: 80px;
}

body
{
    padding: 0;
    margin: 0;
    background-color: #05252a;
    /* overflow: hidden;*/
    overflow-x: hidden;


}

html, body{ 
    width:100%;
  }


  